.main {
    padding: 10px 25px 10px 25px;
    height: 100vh;
    grid-area: a;
    position: relative;
}

.header {
    display: flex;
    
}

.title {
    display: flex;
    width: 30%;
}

.title-imagen {
    width: 10px;
    margin: 10px;
}

.title-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    margin-left: 20px;
}

.search {
    display: flex;
    width: 100%;
    margin-left: 50px;
}

.search-image {
    width: 15px;
    background-color: whitesmoke;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0px 10px 0px 10px;
}

.search-input {
    border: none;
    background-color: rgb(248,248,248);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 40px;
    width: 100%;   
}

.banner {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    margin-top: 30px;
}

.banner-box {
    background-color: rgb(255,247,236);
    width: 100%;
    display: flex;
    border-radius: 40px;
}

.banner-img {
    max-width: 300px;
    position: relative;
    top: 4px;
    left: 40px;
}

.banner-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;  
}

.banner-text1 {
    color: rgb(246,101,51);
    margin: 0px;
}

.banner-text2 {
    color: rgb(206,199,189);
    margin: 0px;
}

.learn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(246,101,51);
    position: absolute;
    right: 30px;
    bottom: 15px;
    z-index: 10;
}

.arrow {
    margin-left: 20px;
}

.restaurants {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.side {
    display: flex;
}

.hamburger {
    width: 25px;
    padding-left: 10px;
}

.button1 {
    display: flex;
    background-color: rgb(255,97,35);
    border: none;
    height:40px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
}

.clock {
    font-size: 20px;
    margin: 0px 10px 0px 20px;
    font-weight: lighter;
}

.pointer {
    width: 15px;
    margin: 0px 20px 0px 10px;
}

.type {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.type-options {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.type-next {
    width: 20px;
    margin-left: 100px;
}


.items  {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.item-food {
    width: 100%;
}

