.singup {
    display: flex;
    justify-content: flex-end;
}

.singup-icon {
    width: 20px;
    margin-right: 20px;
}

.singup-items {
    border-radius: 15px;
    background-color: rgb(254,210,74);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    background-color: rgb(84,57,162);
    color: white;
    border-radius: 15px;
    margin-right: 20px;
    border: none;
}

.logout {
    background-color: rgb(255,97,35);
    color: white;
    border-radius: 15px;
    margin-right: 20px;
    border: none;
}